<div id="username-page">
  <div class="username-page-container">
    <h1 class="title">Type your username to enter the Chatroom</h1>
    <form id="usernameForm" name="usernameForm" [formGroup]="nameForm">
      <div class="form-group">
        <input
          type="text"
          id="name"
          placeholder="Username"
          formControlName="username"
          autocomplete="off"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button (click)="enterChat($event)" class="accent username-submit">
          Start Chatting
        </button>
      </div>
    </form>
  </div>
</div>

<div id="chat-page" *ngIf="hideForm">
  <div class="chat-container">
    <div class="chat-header">
      <h2>
        Spring WebSocket Chat
        <span><button (click)="leaveChat()">Leave Chat</button></span>
      </h2>
    </div>
    <div class="connecting" *ngIf="!username">Connecting...</div>
    <ul id="messageArea">
      <li *ngFor="let message of messages" [ngClass]="getMessageClass(message)">
        <ng-container
          *ngIf="
            message.type === 'JOIN' || message.type === 'LEAVE';
            else chatMessage
          "
        >
          {{
            message.type === "JOIN"
              ? message.sender + " joined"
              : message.type === "LEAVE"
              ? message.sender + " left"
              : ""
          }}
        </ng-container>
        <ng-template #chatMessage>
          <i [style.background-color]="getAvatarColor(message.sender)">{{
            message.sender[0]
          }}</i>
          <span>{{ message.sender }}</span>
          <p>{{ message.content }}</p>
        </ng-template>
      </li>
    </ul>
    <form id="messageForm" name="messageForm" [formGroup]="chatForm">
      <div class="form-group">
        <div class="input-group clearfix">
          <input
            type="text"
            id="message"
            placeholder="Type a message..."
            formControlName="content"
            autocomplete="off"
            class="form-control"
          />
          <button (click)="sendMessage()" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
